.image{
    background-image: url("../banner.png");
    margin: 60px;
    height: 600px;    
}
#first{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
#image-title{
    color:white;
    text-align: center;
    font-family: Merriweather;
     padding-top: 20px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.title{
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
}
.para{
    text-align: center;
    color: #F00;
}
.para-2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.image-2{
    margin: 10px 200px 50px 300px;
    height: 500px;
    weight: 300px
}

.section-four{
    background-color: lightpink;
    height: 400px;
    margin: 90px;
    border-radius: 5px;

}
.section-four-one{
    text-align: center;
    padding-top: 80px;
    font-size: 18px;


}
.section-four-two{
    text-align: center;
    font-size: 18px;
    
}

.section-four-three{
    text-align: center;
    font-size: 18px;
    
}

.btn{
    background-color: #F00;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 16px 32px;
    margin-left: 590px;
}
.red{
    color: red;
}

.section-six-one{
    text-align: center;
}

.section-six-title{
    text-align: center;
}

.section-six-two{
    text-align: center;
    color: gray;
}
.section-six-image-two{
    height: 150px;
    width:80%;
    margin-left:160px;
    margin-right: 60px;
}
.section-six-image{
    padding: 30px 30px 0px 930px;
}
.section-six-image-three{ 
     margin: 60px;     
    height: 150px; 
    width: 180px; 
}
#good{
    margin: 80px ;
}

.section-seven-title{
    font-size: 40px;
    font-weight: 700;
    margin: 80px;
}

.section-seven-content{
    color: gray;
    margin: 80px;
}
.image-container{
    display: flex;
    gap: 50px;
    margin: 80px;
}

.section-eight{
    background-color:lightpink;
    margin: 80px;
    border-radius: 5px;

}

.section-eight-image{
    text-align: center;
    /* height: 50px;
    width: 50px; */
}
.footer-container-title{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 30px;
    height: 300px;
}
.footer-symbol{
    justify-content: center;
    
}
.symbol{
    height: 40px;
    width: 40px;
}
