.image{
    background-image: url("../banner.png");
    margin: 60px;
    height: 600px;    
}
#first{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
#image-title{
    color:white;
    text-align: center;
    font-family: Merriweather;
     padding-top: 20px;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}

.title{
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
}
.para{
    text-align: center;
    color: #F00;
}
.para-2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.image-2{
    margin: 10px 200px 50px 300px;
    height: 500px;
    weight: 300px
}

.section-four{
    background-color: lightpink;
    height: 400px;
    margin: 90px;
    border-radius: 5px;

}
.section-four-one{
    text-align: center;
    padding-top: 80px;
    font-size: 18px;


}
.section-four-two{
    text-align: center;
    font-size: 18px;
    
}

.section-four-three{
    text-align: center;
    font-size: 18px;
    
}

.btn{
    background-color: #F00;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 16px 32px;
    margin-left: 590px;
}
.red{
    color: red;
}

.section-six-one{
    text-align: center;
}

.section-six-title{
    text-align: center;
}

.section-six-two{
    text-align: center;
}
.section-six-image-two{
    height: 150px;
    width:80%;
    margin-left:160px;
    margin-right: 60px;
}
.section-six-image{
    padding: 30px 30px 0px 930px;
}

.section-six-image-three{
    padding-left: 200px;
}
